body {
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #333;
  overflow-x: hidden; 
  margin: 0; padding: 0;
  width: 100vw;
  height: 100vh;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  padding: 2px 0px;
}

.container { 
    height: 100%; 
    display: flex;
    flex-direction: column;
}

.title {
  font-family: 'Patrick Hand SC', cursive;
  font-weight: 600;
  font-size: 2.75rem;
  transition: all 0.2s;
  align-self: center;
  position: relative;
  top: -10px;
}

.front {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 5;
}

#logo {
  height: 100px;
  transition: height 0.2s;
}

@media screen and ( min-width: 650px ) {
  .title {
    font-size: 4rem;
  }
  #logo {
    height: 140px;
  }
}

.header {
  font-family: 'Raleway', sans-serif;
  margin: 10px 0px;
  font-size: 1.8rem;
}

hr {
  border: .5px solid #AAA;
  padding: 0; margin: 0;
  width: 96%;
}

.rale {
  font-family: 'Raleway', sans-serif;
}

.section {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 40px;
}

.hero {
  padding: 0;
  margin: 0;
}

/* sections */
.resources, .contact, .services {
    background-color: #eee;
}

/* flexbox */
.row {
    display: flex;
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.fcenter {
    justify-content: center;
}

.feven {
    justify-content: space-evenly;
}
.fwide {
  justify-content: space-between;
}

.cell {
    flex: 0 1 auto;
}

.cell1 {
    flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
}
.cell2 {
    flex: 2;
}

.fshrink {
    flex-shrink: 1;
}
.fgrow {
    flex-grow: 1;
}
.fstart {
  justify-content: flex-start;
}
.fend {
  align-self: flex-end;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  transition: all 0.4s;
  background: none;
  z-index: 3;
  display: flex;
  cursor: pointer;
}

#dropdown{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#hamburger{
  padding: 10px;
  color: #333;
  transition: transform 0.3s;
}

#hamburger:hover{
  color: black;
}

.drop-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 140px;
  top: 80px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px rgb(0,0,0,0.4);
}

.drop-content>a{
  flex: 0 1 auto;
  background-color: #eee;
  transition: background-color 0.2s;
  color: #333;
  font-size: 1.2rem;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
  display: none;
  height: 30px;
  padding: 10px;
}

.drop-content>a:first-child{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.drop-content>a:last-child{
  border-bottom: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.drop-content>a:hover{
  background: white;
  color: black;
}

#dropdown:hover .drop-content{
  opacity: 1.0;
}

#dropdown:hover .drop-content>a{
  display: block;
}

/* for devices 725 and wider */
@media screen and (min-width: 725px){
  #hamburger{
      display: none;
  }
  .drop-content{
      box-shadow: none;
      background: none;
      opacity: 1.0;
      top: 95px;
      height: 50px;
      width: 100%;
      flex-direction: row;
      justify-content: flex-start;
      background-color: white;
      text-align: right;
      border-radius: 0px;

    }
    
    .drop-content a{
      flex: 1;
      display: block;
      color: black;
      text-decoration: none;
      border: none;
      background: white;
      transition: all 0.4s;
      height: 50px;
      padding: 0 10px;
      line-height: 50px;
  }
  .drop-content a:hover{
      color: navy;
      background: none;

  }
  .drop-content a:first-child{
      border-radius: 0;
  }
  .drop-content a:last-child{
      border-radius: 0;
  }
} 

/* SPLASH /////////////////////*/
#splash{
  background: url(images/hero_bubbles.jpeg) no-repeat;
  background-position: 0 0px;
  background-size: cover;
  height: auto;
  min-height: 500px;
}


.inset {
  position: relative;
  top: 50%;
  width: 100%;
  text-align: center;
  text-shadow: 0px 0px 10px black;
}

h1{
  position: relative;
  text-shadow: 0px 0px 10px rgb(0,0,0);
}

.inset a {
  text-decoration: none;
  text-shadow: none;
}

.btn {
  padding: 20px;
  color: white;
  background: none;
  border: 2px solid white;
  height: 60px;
  width: 200px;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
}
.btn:hover{
  color: black;
  background: white;
}

.btn-green {
  color: #4cc417;
  border: 2px solid #4cc417;
}
.btn-green:hover {
  background: #4cc417;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0; padding: 0;
  color: #ddd; 
  background: black;
  min-height: 80px;
  line-height: 10px;
  text-align: center;
  font-size: 0.8rem;
}

@media screen and ( min-width: 650px ) {
  .h1 {
    top: 20px;
    line-height: 2rem;
  }
  .footer {
    flex-direction: row;
    line-height: 80px;
    font-size: 1rem;
  }
}

.bios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 95%;
}

.bio {
  flex: 1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: #eee;
  color: black;
  border-radius: 10px;
  max-width: 400px;
  height: auto;
  margin: 10px;
  padding: 20px;
}

.right {
  float: left;
  margin-right: 20px;
}

.card {
  flex: 1;
  background: #ccc;
  color: black;
  border-radius: 10px;
  max-width: 400px;
  height: auto;
  max-height: 640px;
  margin: 10px;
  padding: 20px;
}

.flip {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  .flip {
    flex-direction: row;
    justify-content: flex-start;
  }
}

/* screen sizes larger than 940px */
@media screen and (min-width: 800px) {
    .bios {
        flex-direction: row;
    }
    .bio {
        left: 0%;
        transform: translateX(0%);
    }
}

  h1 {
      color: white;
      font-weight: 800;
      font-size: 2rem;
  }

  h3 {
      font-family: 'Patrick Hand SC', cursive;
      font-size: 3.6rem;
      margin: 0; padding: 0;
  }

.caption {
    font-weight: 800;
    font-size: 0.8rem;
    text-align: center;
}

.social > a {
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 40px; }

.tooltiptext {
  opacity: 0;
  position: relative;
  top: -55px;
  left: -30px;
  padding: 4px;
  display: inline-block;
  background: lightyellow;
  color: black;
  border-radius: 3px;
  text-align: center;
  font-size: .8rem; }

.social > a:hover .tooltiptext {
  opacity: 1; }

.para {
    padding: 10px;
}

.body {
    font-family: sans-serif;
    font-weight: 100;
    color: black;
    width: 95%;
}

.bold { 
  font-weight: 800; 
  margin-bottom: 10px;
}

/* positioning */
.abs { position: absolute; }
.rel { position: relative; }
.centered { text-align: center; }
.centerX {
    left: 50%;
    transform: translateX(-50%);
}
.centerY {
    top: 50%;
    transform: translateY(-50%);
}
.m10 { margin: 10px; }
.m20 { margin: 20px; }
.p20 { padding: 20px; }
.m20-tb { margin: 20px 0px; }
.m20-top { margin-top: 20px; }

/* colors */
.blue { color: #4863a0; }

/* styles */
.large { font-size: 2rem; }
.med { font-size: 1.4rem; }
.w50 { width: 50%; }

.responsive {
    width: 100%;
    height: auto;
}
.reg {
    font-size: 1.4rem;
    font-weight: 200;
}

.outline {
    border: 1px solid red;
}

.form {
  background: #eee;
  border-radius: 10px;
  padding: 10px 20px;
  width: auto;
}

#contact-form > * {
  padding: 2px;
  margin: 2px;
}

label {
  line-height: 20px;
}

input {
  padding: 4px;
  border-radius: 4px;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  width: 200px;
}

textarea {
  font-size: 1.4rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  width: 240px;
}









